*{margin: 0%;}
.navbar{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 10px solid black;
}

.logo-navbar{
    width: 300px;
    margin: 15px;
}
.menu{
    width: 10px;
    height: 50px;
    background-color: darkred;
}