@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@300&display=swap");
body {
  background-color: rgb(236, 236, 236);
  margin: 0%;
  padding: 0%;
}

/*Navbar*/
.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid black;
}

.Logo {
  width: 200px;
}

.nav-item {
  margin: 0% 5%;
  color: white;
}

#lista {
  margin: auto 300px;
}

.nav-item h1 {
  font-size: 1rem;
  color: black;
  font-family: "Heebo", sans-serif;
}

/*Banner*/

.hola {
  width: 100%;
  background-image: url("./Img/the\ killers.jpg");
}

/* .banner{
    width: 100%;
    max-width:100%;
max-height:100%;
} */
